@import '~bootstrap/scss/bootstrap';

.nav-link {
  color: #fff;
}

.nav-link:hover {
  cursor: pointer;
  color: #eee;
}

.bi-plus-circle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bi-plus-circle:active {
  color: #fff;
}

// .nav-item {
//   z-index: 99989;
// }

.nav-item-overflow {
  max-width: 123px;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// .nav-item-button:hover {
//   background: transparent;
// }

// .nav-item-button:active {
//   background: transparent;
//   border: none;
//   outline: none;
// }
